@{
    ViewData["Title"] = "Index";
}

@section css {
    <link href="@Url.Content("~/css/richard.css")" rel="stylesheet" />
}
<div class="container-richardpage">
    <div class="cursor"></div>
    <div class="richardsNavbar">
        <a class="richardsNavlinks" asp-area="" asp-controller="Ludvig" asp-action="Index">Ludvig's page</a>
        <a class="richardsNavlinks" asp-area="" asp-controller="Home" asp-action="Index">Homepage</a>
        <a class="richardsNavlinks" asp-area="" asp-controller="Salwa" asp-action="Index">Salwa's page</a>
    </div>
    <section>
        <div>
            <span class="text1">Welcome to</span>
            <span class="text2">RICHARD'S AWESOME VIEW!</span>
            <div class="buttons">
                <div class="buttonAndIconContainer">
                    <a class="button-container the-button" href="https://github.com/Retg94"><button class="theButton">Hover me!</button></a>
                    <img class="the-icon" src="~/images/GitHub-Mark-Light-120px-plus.png" alt="Github icon" />
                    <p class="the-text">To my GitHub!</p>
                </div>
                <div class="buttonAndIconContainer">
                    <a class="button-container the-button" href="https://www.linkedin.com/in/richard-gustavsson-831b54176/"><button class="theButton">Hover me!</button></a>
                    <img class="the-icon" src="~/images/linkedin.png" alt="LinkedIn icon" />
                    <p class="the-text">To my LinkedIn!</p>
                </div>
                <div class="buttonAndIconContainer">
                    <a class="button-container the-button" href="https://www.instagram.com/richard_gustavsson/"><button class="theButton">Hover me!</button></a>
                    <img class="the-icon" src="~/images/icon-instagram.png" alt="Instagram icon" />
                    <p class="the-text">To my Instagram!</p>
                </div>
            </div>
            <p class="moreContent"><em>Scroll down if you want to read more about me!</em></p>
        </div>
    </section>
    <hr />
    <section>
        <div class="content">
            <h2>Who am I?</h2><br />
            <h3>As a developer</h3>
            <p>
                As I still am a student, I don't really know if I can call myself a developer yet. So this section will just be about what I currently think about programming. <br />
                So... When the classes was about C# and .NET I was like, <em>"This is the stuff I wanna work with"</em> and when the classes was about Javascript and React I was like
                <em>"Now this is what I wanna work with"</em>. So I've come to the conclusion that whatever I'm trying to learn in the developer-area, I find it interesting.
                So just give me a job and I will learn what you do and I will be good at it!
        </div>
    </section>
    <hr />
    <section>
        <div class="content">
            <h2>Who am I?</h2><br />
            <h3>As a person</h3>
            <p>
                If you would ask people that know me to describe me with one word, I think that word would mostly be <em>"calm"</em>. And if I would describe myself with one sentence I would say
                something like <em>"A calm guy that likes gaming and to watch movies."</em> But more information about me below! <br />
                I am a 27 <em>(nowadays I have to check the date at the bottomright part of the screen and do the math do figure out my age, 21+6=27)</em> year old guy that currently is
                studying programming. When I'm not studying, I like gaming and to watch movies/series and right now I'm rewatching the marvel-movies in the order of release
                (currently at Iron Man 2). Besides that, I like to take the car and go fishing by the sea. Usually I don't get any fish <em>(because I'm unlucky)</em> but I like the calm feeling I
                get from it. <br />
                Nowadays I like also like to watch sports, mostly football and hockey. But in my younger days I played football as a goalie and floorball as a forward. Some months ago I also
                started playing padel <em>(like everyone else)</em> rougly 1 time every week, and now I can honestly say that I'm not completly bad at it.

            </p>
        </div>
    </section>
    <hr />
    <section>
        <div class="content">
            <h2>This is a header for this section</h2><br />
            <h3>This is also a header in the same section, but a little smaller.</h3>
            <p>
                This is a paragraf text in the same section as the two headers. The two headers I'm referring to are the slightly bigger one, and the slightly smaller one.
                They are both headers, but just different sizes. They are also text like this paragraftext, but just bigger. In other words, all these three kinds of text are the same,
                but not the same at the same time. As you might have noticed, I just keep on writing nonsense to have some text on this page. <br />
                Nonsense text can be fun to write, but not very fun to read. But what do I know? Some people might love to read nonsense text and I do <strong>NOT</strong> judge them.
                They are just humans like everyone else. Not worth less than other humans, and not worth more than other humans. Just worth the exact amount like other humans.
                But what if they hang the toiletpaper-roll the wrong way or if they are screaming "WOOOO" too loud and/or too many times during an afterwork you might ask? 
                That is a philosophical question that I'm not ready to answer. <br />
                Writing this nonsense text make me feel weird and like I'm talking to myself, so this is the last sentence of this section.
            </p>
        </div>
    </section>
    <hr />
    <section>
        <div class="content">
            <h2>The forth section</h2><br />
            <h3>Subheading</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </section>
    <div class="justForMargin"></div>
</div>
<script src="~/js/scroll-out.js"></script>
<script>
    ScrollOut({
        targets: 'h2,h3,p,a'
    })
</script>
<script type="text/javascript">
    const cursor = document.querySelector(".cursor");

    //follow cursor on mousemove
    document.addEventListener("mousemove", (e) => {
        let x = e.pageX;
        let y = e.pageY;

        cursor.style.top = y + "px";
        cursor.style.left = x + "px";
        cursor.style.display = "block";

        //cursor effects on mouse stopped
        function mouseStopped() {
            cursor.style.display = "none";
        }
        clearTimeout(timeout);
        timeout = setTimeout(mouseStopped, 2500);
    });

    //cursor effects on mouseout
    document.addEventListener("mouseout", () => {
        cursor.style.display = "none";
    });
</script>

<!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
