@{
    ViewData["Title"] = "Index";
}

@section css {
    <link href="@Url.Content("~/css/richard.css")" rel="stylesheet" />
}

<div class="container">
    <span class="text1">Welcome to</span>
    <span class="text2">RICHARD'S AWESOME VIEW</span>
    <div class="buttons">
        <div class="buttonAndIconContainer">
            <a class="button-container the-button" href="https://github.com/Retg94"><button class="theButton">Github</button></a>
            <img class="the-icon" src="~/images/GitHub-Mark-Light-120px-plus.png" alt="Github icon" />
        </div>
        <div class="buttonAndIconContainer">
            <a class="button-container the-button" href="https://www.linkedin.com/in/richard-gustavsson-831b54176/"><button class="theButton">LinkedIn</button></a>
            <img class="the-icon" src="~/images/linkedin.png" alt="LinkedIn icon" />
        </div>
        <div class="buttonAndIconContainer">
            <a class="button-container the-button" href="https://github.com/Retg94"><button class="theButton">Test</button></a>
            <img class="the-icon" src="~/images/GitHub-Mark-Light-120px-plus.png" alt="Github icon" />
        </div>
    </div>
</div>

<!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
