body {
    color: black;
}

.richardsNavbar {
    opacity: 1;
    top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    animation: opacity-ani 5s;
}

.richardsNavlinks {
    margin: 0 25px 0 25px;
}

p {
}

#profilepic {
    margin-bottom: 5px;
    border-radius: 50%;
    overflow: hidden;
}

#pics {
    border-radius: 50%;
}


.bg-1 {
    color: #ffffff;
}

.bg-2 {
    color: #ffffff;
}

.bg-3 {
    color: #ffffff;
}

.bg-4 {
    color: #ffffff;
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}


.navbar-nav li a:hover {
    color: #1abc9c !important;
}
