@font-face {
    font-family: Arvo;
    src: url(Arvo-Regular.ttf);
}
.justForMargin {
    height:100px;
}
.moreContent {
    animation: opacity-ani 5s;
    color: #ff8303;
    margin-top: 75px;
}
.richardsNavbar {
    opacity: 1;
    top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    animation: opacity-ani 5s;
}
.richardsNavlinks {
    margin: 0 25px 0 25px;
}
.richardsNavlinks:hover {
    color: #ff8303;
}

/* Tag Selectors */
body {
    font-family: Arvo;
    background: #1b1a17;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 15%;
    height: 0;
    border-color: #ff8303;
}
/* scroll effect */
.content {
    padding: 50px 15px 50px 15px;
    background-color: #f0e3ca;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 15px 0 rgba(255, 255, 255, 0.19);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b1a17;
}

section .content {
    max-width: 80%;
}

section .content h2 {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 3em;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(0);
}
section .content h2[data-scroll="in"] {
    transform: scaleX(1);
}

section .content h2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff8303;
    transform-origin: right;
    transition: 0.5s;
}
section .content h2[data-scroll="in"]:before {
    transform: scaleX(0);
    transition-delay: 0.5s;
}

section .content h3 {
    position: relative;
    margin: 5px 0 0;
    padding: 0;
    display: inline-block;
    font-size: 2em;
    transition: 0.5s;
    transform-origin: right;
    transform: scaleX(0);
}
section .content h3[data-scroll="in"] {
    transform: scaleX(1);
    transition-delay: 0.5s;
}

section .content h3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff8303;
    transform-origin: left;
    transition: 0.5s;
}
section .content h3[data-scroll="in"]:before {
    transform: scaleX(0);
    transition-delay: 1.0s;
}
section .content p {
    margin-top: 20px;
    font-size: 1.2em;
    transition: 1s;
    opacity: 0;
}
section .content p[data-scroll="in"] {
    opacity: 1;
    transition-delay: 1s;
}



/* --- */
/*Welcome message stuff*/
.container-richardpage {
    height: 100vh;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.container-richardpage span {
    text-transform: uppercase;
    display: block;
}

.text1 {
    color: #f0e3ca;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: #1b1a17;
    position: relative;
    animation: text 2s 1;
}
.text2 {
    font-size: 30px;
    /*color: #88304e;*/
    animation: rainbow-colors 10s infinite;
    margin-bottom: 40px;
}
.buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    animation: button 5s 1;
}

@keyframes button{
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes text{
    0% {
        color: #1b1a17;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        transform: scale(1.5);
        margin-bottom: -40px;
    }
    85% {
        letter-spacing: 8px;
        transform: scale(1);
        margin-bottom: -40px;
    }

}
/* --- */
/* Class Selectors */
.meme-container {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
}
.meme {
    width: 200px;
    margin-bottom: 50px;
}
.slide-in-bottom {
    -webkit-animation: slide-in-bottom 15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slit-in-horizontal {
    -webkit-animation: slit-in-horizontal 0.45s ease-out both;
    animation: slit-in-horizontal 0.45s ease-out both;
}
.shake-bottom {
    -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.rainbowtext {
    animation-name: rainbow-colors;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.the-icon {
    width: 125px;
    height: 125px;
    opacity: 0;
}
.the-text {
    opacity: 0;
}
.buttonAndIconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-container{
    margin-bottom: 10px;
}
.theButton {
    background-color: #1b1a17;
    border: solid 3px #f0e3ca;
    color: #f0e3ca;
    opacity: 1;
    font-size: 20px;
}

.theButton:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 10px 0 rgba(255, 255, 255, 0.19);
    -webkit-animation: 0;
    background-color: #1b1a17;
    border: solid 3px #ff8303;
    color: white;
    -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.the-button:hover ~ .the-text {
    opacity: 1;
    color: #f0e3ca;
    -webkit-animation: slit-in-horizontal 0.45s ease-out both;
    animation: slit-in-horizontal 0.45s ease-out both;
}
.the-button:hover + .the-icon{
    opacity: 1;
    -webkit-animation: slit-in-horizontal 0.45s ease-out both;
    animation: slit-in-horizontal 0.45s ease-out both;
}
/* --- */
/* Keyframes */
@keyframes opacity-ani {
     0% {
         opacity:0;
     }
     50% {
         opacity:0;
     }
     100% {
         opacity:1;
     }
}
@keyframes rainbow-colors {
    0% {
        border-color: red;
        color: red;
    }
    14.28% {
        border-color: orange;
        color: orange;
    }
    28.6% {
        border-color: yellow;
        color: yellow;
    }
    42.9% {
        border-color: green;
        color: green;
    }
    57.1% {
        border-color: blue;
        color: blue;
    }
    71.4% {
        border-color: indigo;
        color: indigo;
    }
    85.7% {
        border-color: violet;
        color: violet;
    }
    100% {
        border-color: red;
        color: red;
    }
}

/* Shake Keyframe */
/* ----------------------------------------------
 * Generated by Animista on 2021-4-11 18:48:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@-webkit-keyframes shake-bottom {
    0%, 100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%, 40%, 60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%, 50%, 70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

@keyframes shake-bottom {
    0%, 100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%, 40%, 60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%, 50%, 70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}
/* Keyframe slit-in */
/* ----------------------------------------------
 * Generated by Animista on 2021-4-11 21:10:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slit-in-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes slit-in-horizontal {
    0% {
        -webkit-transform: translateZ(-800px) rotateX(90deg);
        transform: translateZ(-800px) rotateX(90deg);
        opacity: 0;
    }

    54% {
        -webkit-transform: translateZ(-160px) rotateX(87deg);
        transform: translateZ(-160px) rotateX(87deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(0) rotateX(0);
        transform: translateZ(0) rotateX(0);
    }
}

@keyframes slit-in-horizontal {
    0% {
        -webkit-transform: translateZ(-800px) rotateX(90deg);
        transform: translateZ(-800px) rotateX(90deg);
        opacity: 0;
    }

    54% {
        -webkit-transform: translateZ(-160px) rotateX(87deg);
        transform: translateZ(-160px) rotateX(87deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(0) rotateX(0);
        transform: translateZ(0) rotateX(0);
    }
}
/* ---- */
/* ----------------------------------------------
 * Generated by Animista on 2021-4-12 14:51:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    50% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/* Mouse tracking */
.container-richardpage {
    cursor: none;
}
.cursor {
    z-index: 999;
    position: fixed;
    background-color: #ffdc34;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    /*box-shadow: 0 0 20px #ffdc34, 0 0 60px #ffdc34, 0 0 100px #ffdc34;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(194, 201, 209, 0.19);
    animation: colors 5s infinite;
    transform: translate(-50%,-50%);
    display: none;
}
@keyframes colors{
    0% {
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);  
    }
}
/*.cursor:before {
    content: '';
    position: absolute;
    background: #ffdc34;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-50%, -30%);
    border-radius: 50%;
}*/
/* ---- */