* {
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}

@font-face {
    font-family: Quicksand;
    src: url(Quicksand_Light.otf);
}

body {
    background: #fcfafa;
}
/*pixel animation*/
#canvas1 {
    position: absolute;
    z-index: -1;
    margin-left: 0px;
    margin-top: 969px;
    z-index: -1;
    opacity: 0.9;
}

.diva-pixel {
    margin-left: 100px;
    padding: 5px;
}

.container-salwa {
    height: 100vh;
    width: 100%;
    background-image: url(../images/background4.png);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar {
    width: 42%;
    height: 145px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 68px;
}

nav {
    flex: 1;
    padding-left: 40px;
}

    nav ul li {
        display: inline-block;
        list-style: none;
        margin: 0px 20px;
    }

        nav ul li a {
            text-decoration: none;
            color: pink;
        }

            nav ul li a:hover {
                color: deeppink;
            }

.content h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 23px;
    margin-bottom: 57px;
    color: #232d60;
    animation: slide-in-left 1s
}

.content p {
    margin-bottom: 44px;
    font-size: 20px;
    color: #6a7199;
    animation: fade-in 3s
}

.content .social-btn {
    display: inline-block;
    border-style: hidden;
    border-color: hotpink;
    background-color: lightpink;
    border-radius: 15px;
    padding: 1px 35px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    animation: fade-in 3s;
    margin-right: 20px;
    margin-bottom: 50px;
    box-shadow: 3px 8px 13px rgba(94, 28, 68, 0.15);
}

    .content .social-btn:hover {
        background-color: #81bae2;
        box-shadow: 3px 8px 13px rgba(198, 144, 245, 0.15);
    }

.fun {
    width: 10%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-style: hidden;
    border-color: hotpink;
    background-color: lightpink;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
    font-size: smaller;
    animation: fade-in 3s;
    padding: 3px;
    box-shadow: 3px 8px 13px rgba(94, 28, 68, 0.15);
}


    .fun:hover {
        background-color: #81bae2;
        box-shadow: 3px 8px 13px rgba(198, 144, 245, 0.15);
    }



.gif {
    max-width: 80%;
}

#hobbies-title {
    margin-top: 128px;
    margin-left: 100px;
    margin-bottom: 33px;
    color: blue;
}

#hobbies-para {
    margin-left: 100px;
}

h3 {
    color: blue;
    margin-left: 700px;
    margin-top: 100px
}
/*Animation*/
.slide-in-left {
    -webkit-animation: slide-in-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
