html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.container {
 width: 100%;
 margin-right: auto;
 margin-left: auto;
}

/* Responsive design */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: Aquire;
    src: url(Aquire-BW0ox.otf);
}
/* Card animation */
.homepage-container {
    font-family: Aquire;
}
.homepage-title {
    font-size: 100px;
    font-family: Aquire;
    animation: pinkgreenbluecolors 10s infinite;
}
.homepage-header-container {
    margin-top: 35px;
}
.homepage-container {
    margin-top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
}
.homepage-container .box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(194, 201, 209, 0.19);
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #16191c;
    border-radius: 20px;
    transform-style: preserve-3d;
}
/* card top-text */
.homepage-container .box::before {
    content: "The";
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 4em;
    font-weight: 900;
    color: gray;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
/*card under-text */
.homepage-container .box::after {
    content: "coders";
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 4em;
    font-weight: 900;
    color: gray;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
.controller-img {
    width: 250px;
}
.homepage-container .box .name {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.homepage-container .box .profile {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: white;
    background: yellow;
    padding: 10px 25px;
    border-radius: 30px;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.homepage-container .box .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: brown;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%,-50%, 25px)
}
.homepage-container .box .controller-img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    transition: 0.5s;
    z-index: 11;
    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,50px) rotate(-15deg);
}
.homepage-container .box:hover .name {
    top: 40px;
    opacity: 1;
}
.homepage-container .box:hover .profile {
    bottom: 30px;
    opacity: 1;
}
.homepage-container .box:hover .controller-img {
    transform: translate3d(-50%,-50%,100px) rotate(-15deg);
}
.homepage-container .box:hover::before,
.homepage-container .box:hover::after {
    opacity: 0.25;
}
.homepage-container .box:nth-child(1) .circle,
.homepage-container .box:nth-child(1) .profile {
    background: pink;
}

.homepage-container .box:nth-child(2) .circle,
.homepage-container .box:nth-child(2) .profile {
    background: #52c770;
}

.homepage-container .box:nth-child(3) .circle,
.homepage-container .box:nth-child(3) .profile {
    background: #a98eed;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-4-12 20:7:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- *
/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
/*----Animation---*/
.homepage-title:hover {
    -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
    animation: pulsate-fwd 1s ease-in-out infinite both;
}
.pulsate-fwd {
    -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        color: pink;
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color: #52c770;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        color: pink;
    }
}
@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        color: pink;
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        color: #52c770;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        color: pink;
    }
}
/* Pink-Green-BluePurpleish */
@keyframes pinkgreenbluecolors {
    0% {
        color: pink;
    }

    33% {
        color: #52c770;
    }

    66% {
        color: #a98eed;
    }

    100% {
        color: pink;
    }
}