@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, sons and daughters of Robin Kamo!!! I changed this text / Richard</h1>
    <p>This is another added text by Richard after removing ignored files.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
