@{
    ViewData["Title"] = "Ludvig";
}

@section css {
    <link href="@Url.Content("~/css/ludvig.css")" rel="stylesheet" />
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ludvigs page!</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus, arcu sit amet hendrerit venenatis, dui ligula sollicitudin lectus, ac gravida purus nisi vel lorem. Aliquam id feugiat felis. Aenean volutpat tortor et sapien placerat vulputate. Fusce eu lacinia orci. Fusce a erat id purus dictum rutrum. Cras quis neque nec nulla hendrerit tempor at vitae ex. Ut id mattis nulla. Aliquam nulla magna, elementum eu purus sed, vestibulum blandit lorem. Maecenas et maximus velit. Sed pellentesque interdum sem eu consequat. Aenean pharetra sit amet quam vitae ultrices. Aenean tincidunt nisi enim, quis mattis sem iaculis nec. Etiam vitae varius sem, id vulputate eros.
        <br/><br/>
        Vestibulum posuere libero vitae maximus varius. Donec aliquet semper tempor. Morbi mattis varius rutrum. Morbi congue sagittis augue et feugiat. Sed eget viverra felis. Proin ante mauris, hendrerit vel risus a, faucibus laoreet nibh. Phasellus tincidunt quis odio eget imperdiet. Curabitur eu arcu dictum, porttitor nisl at, sodales quam. Aliquam feugiat dolor id tortor dictum consectetur. Vestibulum euismod sodales purus. Pellentesque ultrices tristique odio ac imperdiet. Cras id lectus ut leo cursus tincidunt ac eget magna. Praesent non libero eros. Ut nec commodo quam. Etiam feugiat augue justo, in mattis mi vulputate eu. Suspendisse in fringilla nisl, id euismod enim.</a>.
    </p>
</div>
